%h1= @movie.title
.jumbotron
  = @movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
  %h3 Add comment
  = render 'comments/form'
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> 8005ca0607cacd99e7edd3ccb2944ec48628d295
=======
>>>>>>> 8005ca0607cacd99e7edd3ccb2944ec48628d295
= render 'comments/comment'
